nav {
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

nav ul  {
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    cursor: pointer;
    :hover {
        font-weight: 600;
        transition: 0.1s ease-in;
    }
}

